/** Web style **/

.body {
  margin: 0;
  padding: 0;
  background: linear-gradient(#0050, #0100), #124;
  overflow: hidden;
  color: white;
}
.container {
  position: relative;
  height: 95vh;
}
.bg-color {background-color: #202325 !important}

.full-view { width: 100vw; height: 20vh; }
.hide { display: none !important }

.grad {
    background: -webkit-linear-gradient(90deg, rgba(9,71,121,1) 50%, rgba(0,255,253,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
